.btn_delete{
    border: none;
    background: none;
    cursor: pointer;
}
.btn_finish{
    background-color: black;
    padding: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    font-family: monospace;
}
.select_quantity{
    padding: 20px;
    border: none;
    cursor: pointer;
}
.ticket_container{
    padding: 15px;
    width: 100%;
    border: none;
}
.links_help{
    color: black;
}
.links_help:hover{
    color: white;
    background-color: black;
}

@media (max-width: 1000px) {
   .media_container{
      margin-left: -150px;
      margin-right: -150px;
   }
   .media_containerImg{
       width: 80%;
   }
   .media_imgItem{
       width: 150px;
       height: 150px;
   }
   .media-containerFloat{
       width: 80%;
   }
   .media_productName{
      font-size: 15px;
      margin: -10px;
   }
   .media_sizeProduct{
       font-size: 12px;
       margin: -10px;
   }
   .media_quantityContainer{
       position: relative;
       top: 10px;
   }
   .media_priceItem{
       position: relative;
       top: 90px;
       right: 120px;
   }
   .media_btnsItem{
       position: relative;
       right: 95px;
   }
   
}